In [2]:
import pandas as pd
import requests

apikey = '338dcfcf1e148981e348f36159b86799'
params = { 'key': apikey } 
response = requests.get("http://battuta.medunes.net/api/country/all/?", params=params )
print(response.url)
cities = response.json()
cities

cities_df = pd.DataFrame(cities)
cities_df.sample(10)

http://battuta.medunes.net/api/country/all/?key=338dcfcf1e148981e348f36159b86799

                         name code
36   Central African Republic   cf
181              Saudi Arabia   sa
214                   Ukraine   ua
229                  Zimbabwe   zw
63                   Ethiopia   et
62                    Estonia   ee
7                   Argentina   ar
55                   Dominica   dm
98                     Israel   il
108                    Kuwait   kw